img{
    height:100%;
    width:100%;
    object-position: center;
    object-fit: contain;
}

.wrapper{
    width:90%;
    max-width: 1280px;
    margin:0 auto;
}

ul{
    padding:0;
    margin:0;
}

.footerText{
    text-align: center;
}