.eventContainer{
    display: flex;
    flex-direction: column;
    border:2px solid red;
}

.eventInfoContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.eventContainer img{
    width:400px;
}